src/files/.DS_Store
demo/detail-matkul.php
demo/edit-jadwal.php
demo/jadwal-mengajar.php
demo/jadwal-pengganti.php
demo/jadwal-perkuliahan.php
demo/lihat-jadwal.php
demo/lihat-tugas.php
demo/mata-kuliah.php
demo/mata-kuliah1.php
demo/proses_tambah_matkul.php
demo/register.php
demo/save-jadwal.php
demo/tambah-jadwal.php
demo/tambah-materi.php
demo/tambah-tugas.php
demo/tugas-matkul.php
demo/admin/approve-action.php
demo/admin/approve.php
demo/admin/data-dosen.php
demo/admin/data-mahasiswa.php
demo/admin/detail-dosen.php
demo/admin/detail-mahasiswa.php
demo/admin/edit-data-dosen.php
demo/admin/edit-data-mhs.php
demo/admin/edit-jadwal.php
demo/admin/index.php
demo/admin/jadwal-kuliah.php
demo/admin/jadwal-pergantian.php
demo/admin/mata-kuliah.php
demo/admin/tambah-jadwal.php
demo/admin/tambah-matkul.php
demo/data-users.php
src/.DS_Store
src/files/assignment/668cf5aab852a4.75651683.docx
src/files/assignment/45220051_tugas_pertemuan_21.png
src/files/assignment/45220051_tugas_pertemuan_Array.png
src/files/assignment/Aulia Kinanah Pratiwi_668d326de208c.png
src/files/assignment/Screenshot 2024-06-06 at 23.35.24.png
src/files/assignment/Screenshot 2024-06-06 at 23.35.43.png
src/files/assignment/Screenshot 2024-06-06 at 23.35.55.png
src/files/assignment/Screenshot 2024-06-06 at 23.36.39.png
src/files/jadwal/669d4a45cc740_Screenshot 2024-07-21 at 20.56.06.png
src/files/jadwal/669d4a67e3015_phppGJImm
src/files/jadwal/669d42e96d7b2_Screenshot 2024-07-21 at 20.56.06.png
src/files/jadwal/669d47c87c5b1_phpaVLtMt
src/files/jadwal/669d43293f138_Screenshot 2024-07-21 at 20.56.06.png
src/files/jadwal/669d469357388_phpvYpU5c
src/files/materi/materi_66995c887081b1.64167596.docx
src/files/tugas/45220001_tugas_pertemuan_2.png
src/files/tugas/45220001_tugas_pertemuan_5.png
src/files/tugas/45220001_tugas_pertemuan_8.png
src/files/tugas/45220051_tugas_pertemuan_2.png
src/files/tugas/45220051_tugas_pertemuan_4.png
src/files/tugas/45220051_tugas_pertemuan_5.png
src/files/tugas/Doc1.docx
src/files/tugas/Screenshot 2024-07-09 at 15.38.35.png
src/files/tugas/tabel indikator.docx
src/files/tugas/Tanda Terima Jl Tinumbu.docx
src/files/tugas/Tanda Terima PT Bosowa.docx
src/images/669936a55efb1.jpeg
src/images/1666440492059.jpg
src/images/audit-1.jpg
src/images/bank-tabungan-negara-logo-png_seeklogo-524115.png
src/images/BankNegaraIndonesia46-logo.svg.png
src/images/charoen-logo.webp
src/images/debby-hudson-TqKFiMR9O6s-unsplash.jpg
src/images/gedung-ad-carousel.jpg
src/images/gedung-jurusan-kp1.jpeg
src/images/gedung-jurusan-kp2.jpeg
src/images/huayou-indo-logo.fd7af3e5.svg
src/images/kelas-komputer1.jpeg
src/images/kelas-perkantoran1.jpeg
src/images/kelas-perkantoran2.jpeg
src/images/kelas-perkantoran3.jpeg
src/images/kelas-perkantoran4.jpeg
src/images/lab-komputer-kp1.jpg
src/images/lab-komputer-kp2.jpeg
src/images/lab-perkantoran-kp1.jpg
src/images/lab-perkantoran-kp2.jpeg
src/images/lab-typing-kp1.jpg
src/images/lab-typing-kp2.jpeg
src/images/Logo_bank_mega_syariah_new.png
src/images/Logo_PLN.png
src/images/logo-angkasa-pura.png
src/images/logo-antam.png
src/images/Logo-BRI-Bank-Rakyat-Indonesia-PNG-Terbaru.webp
src/images/logo-bsi.png
src/images/logo-cni.png
src/images/logo-markija.png
src/images/logo-PT-KIMA.jpg
src/images/logo-rekind-daya-mamuju.jpeg
src/images/promosi-1.jpeg
src/images/promosi-2.jpeg
src/images/promosi-3-carousel.jpeg
src/images/promosi-3.jpeg
src/images/promosi-4.jpeg
src/images/promosi-5-hero.jpeg
src/images/promosi-5.jpeg
src/images/promosi-6.jpeg
src/images/promosi-7.jpeg
src/images/pt_makassar_tene..jpg
src/images/ruang-kelas1.jpeg
src/images/ruang-kelas2.jpeg
src/images/Semen_Tonasa_logo.png
src/images/Singapore_Polytechnic_logo.png
src/images/trakindo-logo.jpg
src/images/Vale_logo.svg.png
src/images/WhatsApp Image 2024-07-22 at 22.19.13.jpeg
src/images/WhatsApp Image 2024-07-22 at 22.21.20.jpeg
src/images/WhatsApp Image 2024-07-22 at 22.42.16.jpeg
src/images/WhatsApp Image 2024-07-22 at 22.43.52.jpeg
.DS_Store
src/db/config.php
