* {
  font-family: "Poppins";
}
section {
  padding-top: 7rem;
  margin-bottom: 4rem;
}
body {
  background-color: #eae0d5;
}
.bg-navbar {
  background-color: #c6ac8f;
}
.jumbotron {
  background-image: url("../images/thought-catalog-505eectW54k-unsplash.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: #fffffe;
  text-shadow: 3px 3px 4px black;
}
.jumbotron::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: linear-gradient(0deg, #eae0d5 7%, rgba(255, 255, 255, 0) 50%);
}
/* Index */
.alamat th,
.kontak th {
  vertical-align: text-top;
  width: 10rem;
}
.carousel-item {
  height: 50vh; /* Make carousel full height of viewport */
  position: relative;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    #eae0d5 0%,
    /* Slightly darker at the bottom */ rgba(0, 0, 0, 0.1) 80%,
    /* Very light black in the middle */ #eae0d5 100%
      /* Very light black at the top */
  );
}
.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.carousel-caption {
  z-index: 1;
  top: 55%;
  transform: translateY(-50%);
  bottom: initial;
  padding: 20px;
}
.carousel-caption h5 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff; /* Ensure text is white for better contrast */
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9); /* Add text shadow for better readability */
}
.carousel-caption p {
  font-size: 1.8rem;
  color: #fff; /* Ensure text is white for better contrast */
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9); /* Add text shadow for better readability */
}
footer {
  background-color: #c6ac8f;
}
#logo-carousel {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.logo-slider {
  padding: 0 50px;
}

.logo-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100px; /* Sesuaikan dengan tinggi maksimum logo Anda */
}

.logo-item img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  height: auto;
}
#showcase .card {
  transition: transform 0.3s ease-in-out;
}

#showcase .card:hover {
  transform: translateY(-5px);
}

#showcase .card-img-top {
  height: 200px;
  object-fit: cover;
}

/* End of Index */
/* Fasilitas */
.facility-hero {
  background-image: url("../images/lab-perkantoran-kp2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.facility-hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    0deg,
    #eae0d5 0%,
    /* Slightly darker at the bottom */ rgba(0, 0, 0, 0.1) 50%,
    /* Very light black in the middle */ rgba(0, 0, 0, 0.1) 100%
      /* Very light black at the top */
  );
}
.facility-hero h1 {
  color: #ffffff;
}
/* End of Fasiitas */
/* Promotion */
.promotion-hero {
  background-image: url("../images/promosi-5-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.promotion-hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    0deg,
    #eae0d5 0%,
    /* Slightly darker at the bottom */ rgba(0, 0, 0, 0.1) 50%,
    /* Very light black in the middle */ rgba(0, 0, 0, 0.1) 100%
      /* Very light black at the top */
  );
}
.promotion-hero h1 {
  color: #ffffff;
}
.card-img-custom {
  width: 100%;
  height: 250px; /* Anda bisa menyesuaikan tinggi ini sesuai kebutuhan */
  object-fit: cover;
}
.thumbnail-custom {
  max-width: 60pc; /* atau ukuran yang Anda inginkan */
  margin: 0 auto; /* untuk memposisikan gambar di tengah */
}
/* End of Promotion */
/* Activity */
.activity-hero {
  background-image: url("../images/promosi-5-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.activity-hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    0deg,
    #eae0d5 0%,
    /* Slightly darker at the bottom */ rgba(0, 0, 0, 0.1) 50%,
    /* Very light black in the middle */ rgba(0, 0, 0, 0.1) 100%
      /* Very light black at the top */
  );
}
.activity-hero h1 {
  color: #ffffff;
}
/* End of Activity */
/* Login */
.login {
  background-image: url("../images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  color: #0a0908;
}
/* End of Login */
/* Reset Password */
.password {
  background-color: #f5ebe0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  color: #0a0908;
}
/* End of Reset Password */
/* Register */
.register {
  height: 100vh;
  background-image: url("../images/debby-hudson-asviIGR3CPE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fffffe;
}
/* End of Register */

/* Mata Kuliah */
.hero-matkul {
  background-image: url("../images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.hero-matkul::after {
  display: block;
  background: linear-gradient(0deg, #eae0d5 7%, rgba(255, 255, 255, 0) 50%);
  content: "";
  width: 100%;
  min-height: 19%;
  position: absolute;
}
.daftar-matkul ul li {
  list-style-type: none;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}
.daftar-matkul ul li a {
  color: #0a0908;
  font-weight: 600;
  text-decoration: none;
}
/* End of Mata Kuliah */

/* Detail Mata Kuliah */
.list-materi ul li {
  border-bottom: 1px solid #000;
  padding: 10px 0;
  list-style: none;
}
.detail-matkul button:hover {
  background-color: #8f704a;
  border: none;
  font-weight: 600;
  color: white;
}
/* End of Detail Mata Kuliah */

/* Jadwal Perkuliahan */
.roster th,
.roster td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: 0.5rem;
}
.istirahat {
  background-color: #c6ac8f;
  font-weight: bold;
}
.hero-jadwal {
  background-image: url("../images/eric-rothermel-FoKO4DpXamQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #fffffe;
}
.hero-jadwal::after {
  display: block;
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #eae0d5 7%, rgba(255, 255, 255, 0) 50%);
  width: 100%;
  height: 19%;
}
/* End of Jadwal Perkuliahan */

/* Daftar Dosen */
.dosen-hero {
  background-image: url("../images/education-concept-student-studying-brainstorming-campus-concept-close-up-students-discussing-their-subject-books-textbooks-selective-focus_1418-627.avif");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.dosen-hero::after {
  content: "";
  position: absolute;
  min-height: 19%;
  background: linear-gradient(0deg, #eae0d5 7%, rgba(255, 255, 255, 0) 50%);
  width: 100%;
}
.dosen-content ul li {
  list-style-type: none;
}
.daftar-dosen {
  border: 1px solid #000;
}
.card-body a {
  text-decoration: none;
  color: #0a0908;
}
.card-body a:hover {
  color: blue;
}
/* End of Daftar Dosen  */
/* Edit Materi Perkuliahan */
.edit-hero {
  background-image: url("../images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.5);
}
.edit-hero::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #eae0d5 7%, rgba(255, 255, 255, 0) 50%);
  width: 100%;
  height: 19%;
}
.submit-button .btn,
.edit-btn {
  background-color: #c6ac8f;
  border: none;
}
.submit-button .btn:hover,
.edit-btn:hover {
  background-color: #8f704a;
  color: #fffffe;
  font-weight: 600;
}
/* End of Edit Materi Perkuliahan */

/* Edit Jadwal Perkuliahan */
.card-body table th {
  width: 180px;
  padding-bottom: 10px;
}
.card-body table td {
  padding-bottom: 10px;
}
/* End of Jadwal Perkuliahan */

/* Data Mahasiswa */
.mhs-hero {
  background-image: url("../images/hero-mah.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.5);
}
.mhs-hero::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #eae0d5 7%, rgba(255, 255, 255, 0) 50%);
  width: 100%;
  height: 19%;
}
.data-mhs table td,
.data-mhs table th {
  border: 1px solid #000;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
}
/* End of Data Mahasiswa */

/* Edit Data Mahasiswa */
#edit-data-mhs .container {
  max-width: 50rem;
}
/* End of Edit Data Mahasiswa */
/* Edit Profile */
.edit-profile {
  max-width: 50rem;
}

/* Tugas Kuliah */
.tugas-jumbotron {
  background-image: url("../images/tugas-jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  background-position: center;
  color: #fffffe;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.7);
}
.tugas-jumbotron::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #eae0d5 7%, rgba(255, 255, 255, 0) 50%);
  width: 100%;
  height: 19%;
}
.list-tugas ul li {
  list-style-type: none;
}

/* Media Query */
@media (max-width: 767.98px) {
  html {
    font-size: 75%;
  }
  .carousel-item {
    height: 30vh;
  }
  .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  section#visimisi {
    height: 20vh;
  }
  section#visimisi::after {
    height: 28%;
  }
  /* Index */
  iframe {
    height: 250px;
  }
  /* Mata Kuliah */
  .hero-matkul {
    min-height: 25vh;
  }
  /* Jadwal Perkuliahan */
  .hero-jadwal {
    min-height: 25vh;
  }
  /* Dosen */
  .dosen-hero {
    min-height: 25vh;
  }
  /* Edit Materi */
  .edit-hero {
    min-height: 25vh;
  }
  /* Data Mahasiswa */
  .mhs-hero {
    min-height: 25vh;
  }
  /* Data Dosen */
  .list-group .list-group-item li {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 70%;
  }
  .container .data-mhs {
    padding: 1rem 7% 0;
  }
}
